html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-container {
  width: 1000px;
  height: 600px;
  position: relative;
}

.center-container .ellipse {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f5d103;
  position: absolute;
  bottom: 0;
  -webkit-animation: bounceInDown, red-smile,go-go-go, move, move-down;
          animation: bounceInDown, red-smile,go-go-go, move, move-down;
  -webkit-animation-duration: 3s, 3s, 1s, 4s, 4s;
          animation-duration: 3s, 3s, 1s, 4s, 4s;
  -webkit-animation-delay: 0s ,0s, 3s, 6s, 12s;
          animation-delay: 0s ,0s, 3s, 6s, 12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1, 1, 1, 1, 1;
          animation-iteration-count: 1, 1, 1, 1, 1;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes red-smile {
  0% {
    background-color: red;
  }
  75% {
    background-color: red;
  }
}

@keyframes red-smile {
  0% {
    background-color: red;
  }
  75% {
    background-color: red;
  }
}

@-webkit-keyframes go-go-go {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    left: 0%;
  }
  25% {
    left: 140px;
  }
  50% {
    left: 130px;
  }
  75% {
    left: 140px;
  }
  100% {
    height: 90px;
    left: 140px;
  }
}

@keyframes go-go-go {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    left: 0%;
  }
  25% {
    left: 140px;
  }
  50% {
    left: 130px;
  }
  75% {
    left: 140px;
  }
  100% {
    height: 90px;
    left: 140px;
  }
}

.center-container .ellipse .eye-l {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
}

.center-container .ellipse .eye-r {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 60px;
}

.center-container .ellipse .emoji {
  width: 50px;
  height: 5px;
  top: 60px;
  left: 25px;
  background-color: #000;
  position: absolute;
  -webkit-animation-name: aaa;
          animation-name: aaa;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes aaa {
  0% {
    height: 30px;
    border-radius: 50%;
  }
  50% {
    height: 15px;
    border-radius: 25%;
  }
  100% {
    border-radius: 0;
    height: 5px;
  }
}

@keyframes aaa {
  0% {
    height: 30px;
    border-radius: 50%;
  }
  50% {
    height: 15px;
    border-radius: 25%;
  }
  100% {
    border-radius: 0;
    height: 5px;
  }
}

.center-container .square-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-container .square-box .square-style {
  width: 100px;
  height: 300px;
  background-color: black;
  border: 2px red solid;
  margin-right: 25px;
}

.center-container .square-box .square-1-controler {
  -webkit-animation-name: h-down, h-up, h-down;
          animation-name: h-down, h-up, h-down;
  -webkit-animation-duration: 1s, 1s, 0.3s;
          animation-duration: 1s, 1s, 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3500ms, 7500ms, 14650ms;
          animation-delay: 3500ms, 7500ms, 14650ms;
}

@-webkit-keyframes h-down {
  0% {
    height: 300px;
  }
  100% {
    height: 100px;
  }
}

@keyframes h-down {
  0% {
    height: 300px;
  }
  100% {
    height: 100px;
  }
}

@-webkit-keyframes h-up {
  0% {
    height: 100px;
  }
  100% {
    height: 300px;
  }
}

@keyframes h-up {
  0% {
    height: 100px;
  }
  100% {
    height: 300px;
  }
}

.center-container .square-box .square-2-controler {
  -webkit-animation-name: h-down-2, h-up-2, h-down-2;
          animation-name: h-down-2, h-up-2, h-down-2;
  -webkit-animation-duration: 1s, 1s, 0.3s;
          animation-duration: 1s, 1s, 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3500ms, 8500ms, 13650ms;
          animation-delay: 3500ms, 8500ms, 13650ms;
}

@-webkit-keyframes h-down-2 {
  0% {
    height: 300px;
  }
  100% {
    height: 150px;
  }
}

@keyframes h-down-2 {
  0% {
    height: 300px;
  }
  100% {
    height: 150px;
  }
}

@-webkit-keyframes h-up-2 {
  0% {
    height: 150px;
  }
  100% {
    height: 300px;
  }
}

@keyframes h-up-2 {
  0% {
    height: 150px;
  }
  100% {
    height: 300px;
  }
}

.center-container .square-box .square-3-controler {
  -webkit-animation-name: h-down-3, h-up-3, h-down-3;
          animation-name: h-down-3, h-up-3, h-down-3;
  -webkit-animation-duration: 1s, 1s, 0.3s;
          animation-duration: 1s, 1s, 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3500ms, 9500ms, 12650ms;
          animation-delay: 3500ms, 9500ms, 12650ms;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes h-down-3 {
  0% {
    height: 300px;
  }
  100% {
    height: 200px;
  }
}

@keyframes h-down-3 {
  0% {
    height: 300px;
  }
  100% {
    height: 200px;
  }
}

@-webkit-keyframes h-up-3 {
  0% {
    height: 200px;
  }
  100% {
    height: 300px;
  }
}

@keyframes h-up-3 {
  0% {
    height: 200px;
  }
  100% {
    height: 300px;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  12.50% {
    -webkit-transform: translate(46px, -190px);
            transform: translate(46px, -190px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  25% {
    -webkit-transform: translate(105px, -105px);
            transform: translate(105px, -105px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  37.50% {
    -webkit-transform: translate(160px, -215px);
            transform: translate(160px, -215px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  50% {
    -webkit-transform: translate(235px, -155px);
            transform: translate(235px, -155px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  62.50% {
    -webkit-transform: translate(294px, -290px);
            transform: translate(294px, -290px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  75% {
    -webkit-transform: translate(360px, -205px);
            transform: translate(360px, -205px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  87.50% {
    -webkit-transform: translate(424px, -362px);
            transform: translate(424px, -362px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: translate(490px, -305px);
            transform: translate(490px, -305px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  12.50% {
    -webkit-transform: translate(46px, -190px);
            transform: translate(46px, -190px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  25% {
    -webkit-transform: translate(105px, -105px);
            transform: translate(105px, -105px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  37.50% {
    -webkit-transform: translate(160px, -215px);
            transform: translate(160px, -215px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  50% {
    -webkit-transform: translate(235px, -155px);
            transform: translate(235px, -155px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  62.50% {
    -webkit-transform: translate(294px, -290px);
            transform: translate(294px, -290px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  75% {
    -webkit-transform: translate(360px, -205px);
            transform: translate(360px, -205px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  87.50% {
    -webkit-transform: translate(424px, -362px);
            transform: translate(424px, -362px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: translate(490px, -305px);
            transform: translate(490px, -305px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translate(490px, -305px);
            transform: translate(490px, -305px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  12.50% {
    -webkit-transform: translate(430px, -400px);
            transform: translate(430px, -400px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  25% {
    -webkit-transform: translate(360px, -205px);
            transform: translate(360px, -205px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  37.50% {
    -webkit-transform: translate(203px, -400px);
            transform: translate(203px, -400px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  50% {
    -webkit-transform: translate(235px, -155px);
            transform: translate(235px, -155px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  62.50% {
    -webkit-transform: translate(170px, -400px);
            transform: translate(170px, -400px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  75% {
    -webkit-transform: translate(105px, -105px);
            transform: translate(105px, -105px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  87.50% {
    -webkit-transform: translate(46px, -190px);
            transform: translate(46px, -190px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes move-down {
  0% {
    -webkit-transform: translate(490px, -305px);
            transform: translate(490px, -305px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  12.50% {
    -webkit-transform: translate(430px, -400px);
            transform: translate(430px, -400px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  25% {
    -webkit-transform: translate(360px, -205px);
            transform: translate(360px, -205px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  37.50% {
    -webkit-transform: translate(203px, -400px);
            transform: translate(203px, -400px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  50% {
    -webkit-transform: translate(235px, -155px);
            transform: translate(235px, -155px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  62.50% {
    -webkit-transform: translate(170px, -400px);
            transform: translate(170px, -400px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  75% {
    -webkit-transform: translate(105px, -105px);
            transform: translate(105px, -105px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  87.50% {
    -webkit-transform: translate(46px, -190px);
            transform: translate(46px, -190px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
/*# sourceMappingURL=main.css.map */